{%- set section -%}{%- block section -%}{%- endblock -%}{%- endset -%}
{%- set section -%}
  {%- if section -%}
    {{- section -}}
  {%- else -%}
    {{- Config.AppName -}}
  {%- endif -%}
{%- endset -%}
{%- set title -%}{%- block title -%}{%- endblock -%}{%- endset -%}
{%- set title -%}
  {%- if title -%}
    {{ title }} | {{ Config.AppName }}
  {%- else -%}
    {{- Config.AppName -}}
  {%- endif -%}
{%- endset -%}
{%- set tabitems -%}{%- block tabitems -%}{%- endblock -%}{%- endset -%}
{%- set menuitems -%}{%- block menuitems -%}{%- endblock -%}{%- endset -%}
{%- set canonical -%}{%- block canonical -%}{%- endblock -%}{%- endset -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="{{ Config.AppName }} RSS Reader" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
  {% endif %}
  <title>{{ title }}</title>
  <meta name="generator" content="Aggregodo" />
  <meta name="mobile-web-app-capable" content="yes" />
  <link rel="icon" sizes="192x192" href="/images/android-desktop.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="{{ Config.AppName }}" />
  <link rel="apple-touch-icon-precomposed" href="/images/ios-desktop.png" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en" />
  <link rel="stylesheet" href="/Material-Icons.css" />
  <link rel="stylesheet" href="/material.cyan-light_blue.min.css" />
  <link rel="stylesheet" href="/styles.css" />
  <script src="/app.js" defer></script>
  <script src="/material.js" defer></script>
</head>
<body class="{% block classes %}{% endblock %}">
  <div class="mdl-layout__container">
  <div class="demo-blog demo-blog--blogpost demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
          {{ section }}
          {% if Config.Development %}
            <span style="font-size: small;">(DEV)</span>
          {% endif %}
        </span>
        <div class="header-extra">
          <div id="load-spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" hidden></div>
          <button id="reload-button" class="mdl-button mdl-js-button mdl-button--primary" onclick="location.reload();" hidden>
            Refresh
          </button>
        </div>
        <div class="mdl-layout-spacer"></div>
        {% if not entry %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label">
            <form id="search-entries-form">
              <button class="mdl-button mdl-js-button mdl-button--icon" for="search" type="submit">
                <i class="material-icons">search</i>
              </button>
              <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search-entries" name="search" style="border-width: 0;" value="{{ search }}" />
                <label class="mdl-textfield__label" for="search-entries">Search Entries...</label>
              </div>
            </form>
          </div>
        {% endif %}
        {% if menuitems | trim %}
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            {{ menuitems | safe }}
          </ul>
        {% endif %}
      </div>
      {% if tabitems %}
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          {{ tabitems | safe }}
        </div>
      {% endif %}
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <p></p>
        <div style="flex: 1;">
          {# <img src="/images/user.jpg" class="demo-avatar" /> #}
          <div class="demo-avatar-dropdown" style="z-index: 1;">
            <span>
              {{ sessionAvatar | safe }}
              {% if session %} Hi, {{ session.username }}
              {% else %} Guest User
              {% endif %}
            </span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li>{%- if session -%}
                <form method="POST" action="/access">
                  <input type="hidden" name="action" value="logout" />
                  <button class="mdl-menu__item" type="submit">Logout</button>
                </form>
              {%- else -%}
                <a href="/access" rel="nofollow" class="mdl-menu__item">Login or Signup</a>
              {%- endif -%}</li>
              {% if hasSpecialFeatures %}
                <a href="/debug" rel="nofollow" class="mdl-menu__item">Debug</a>
              {% endif %}
            </ul>
          </div>
        </div>
        <span><a href="https://gitlab.com/octospacc/Aggregodo" target="_blank">Aggregodo</a>, © 2025 OctoSpacc</span>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>All Feeds</a>
        <hr />
        {% if feeds %}
          <div style="padding: 0 16px;">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label mdl-color-text--grey" for="order-feeds">Ordering</label>
              <select class="mdl-textfield__input" id="order-feeds">
                <option class="mdl-textfield__label">Default</option>
                <option class="mdl-textfield__label" data-reverse="1">Default, Reverse</option>
                <option class="mdl-textfield__label" data-method="alpha">Alphabetical</option>
                <option class="mdl-textfield__label" data-method="alpha" data-reverse="1">Alphabetical, Reverse</option>
              </select>
            </div>
            <div style="z-index: 1;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label mdl-color-text--grey" for="feeds-groups">Feed Groups</label>
              <input class="mdl-textfield__input" id="feeds-groups" value=" " readonly />
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="feeds-groups">
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" tabindex="0">Invert</li>
                {# <li disabled class="mdl-menu__item">Disabled Action</li> #}
                <label class="mdl-menu__item">
                  <input type="checkbox" class="mdl-checkbox__input" data-group="" checked>
                  <span class="mdl-checkbox__label">Unspecified</span>
                </label>
              </ul>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label mdl-color-text--grey" for="filter-feeds">Filter Feeds...</label>
              <input class="mdl-textfield__input" type="text" id="filter-feeds" />
            </div>
          </div>
          <div id="feed-links">
            {% for feed in feeds %}
              <a class="feed-link mdl-navigation__link" href="{{ urlFor('/feed/:feed', { feed: slugifyUrl(feed.url) }) }}{{ queryString }}" data-groups="{{ (feed.groups or []) | join(' ') }}">
                <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">
                  {%- if feed.icon -%}
                    <img src="{{ feed.icon }}" />
                  {%- else -%}
                    feed
                  {%- endif -%}
                </i>
                <span style="text-overflow: ellipsis; overflow: hidden;">
                  {{ feed.name }}
                  {% if feed.status == 'hidden' %}
                    <span style="font-size: x-small;">(Hidden)</span>
                  {% endif %}
                  <br>
                  <span class="clamped-text" style="font-size: smaller; line-break: anywhere; line-clamp: 1; -webkit-line-clamp: 1;" title="{{ feed.url }}">{{ feed.url }}</span>
                </span>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      {% block content %}{% endblock %}
    </main>
  </div>
  </div>
  <script src="/base.js"></script>
</body>
</html>