{%- extends "base.njk" -%}
{%- set queryPagers -%}
  {%- if limit -%}&limit={{- limit -}}{%- endif -%}
  {%- if search -%}&search={{- search -}}{%- endif -%}
{%- endset -%}
{%- set queryParams -%}
  {%- if feedsGroups -%}&feed-groups={{- feedsGroups -}}{%- endif -%}
{%- endset -%}
{%- set queryString -%}
  {%- if queryParams -%}
    ?{{- queryParams | safe -}}
  {%- endif -%}
{%- endset -%}
{%- block section -%}
  {%- if feed -%}Feed{%- endif -%}
{%- endblock -%}
{%- block title -%}
  {%- if feed -%}{{ feed.name }} | Feed{%- endif -%}
{%- endblock -%}
{%- block classes -%}
  {%- if prefs.DefaultView == 'grid' -%} grid-layout {%- endif -%}
  {%- if prefs.DefaultView == 'list' -%} list-layout {%- endif -%}
  {%- if prefs.DefaultView == 'flow' -%} flow-layout {%- endif -%}
{%- endblock -%}
{%- block tabitems -%}{%- endblock -%}
{%- block menuitems -%}
  <li><button class="mdl-menu__item" onclick="copyToClipboard(location.origin + (location.pathname.endsWith('/') ? location.pathname.slice(0, -1) : location.pathname) + '/atom' + location.search);">Copy Bridge URL (Atom)</button></li>
  <li><button class="mdl-menu__item" onclick="copyFeedsGroups();">Copy Active Feed Groups</button></li>
  <li><form method="POST">
    <input type="hidden" name="action" value="set-prefs" />
    <input type="hidden" name="dkey" value="ReaderMode" />
    <input type="hidden" name="dvalue" value="{% if not prefs.ReaderMode %}on{% endif %}" />
    <button class="mdl-menu__item" type="submit">
      <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" style="pointer-events: none;" tabindex="-1" {% if prefs.ReaderMode %} checked {% endif %}>
      Use Reader Mode
    </button>
  </form></li>
  {% if hasSpecialFeatures %}
    {% if feed %}
      <li><button class="mdl-menu__item" onclick="debugRequest('update-feed', {{ feed.id }});">Update Feed</button></li>
      <li><button class="mdl-menu__item" onclick="debugRequest('force-update-feed', {{ feed.id }});">Force Update Feed</button></li>
    {% else %}
      <li><button class="mdl-menu__item" onclick="debugRequest('update-feed');">Update All Feeds</button></li>
      <li><button class="mdl-menu__item" onclick="debugRequest('force-update-feed');">Force Update All Feeds</button></li>
    {% endif %}
  {% endif %}
{%- endblock -%}
{%- block canonical -%}
  {%- if feed -%}
    {{- linksPrefix -}}/feed/{{- slugifyUrl(feed.url) -}}
  {%- endif -%}
{%- endblock -%}
{%- block content -%}
  {% if feed %}
    <div class="-mdl-layout__header-row" style="padding: 0 16px; display: flex;">
      <div style="max-width: 100%;">
        <h3 style="word-break: break-word;">
          <div class="minilogo" style="float: left; background-image: url('{{ feed.icon }}');">
            {% if not feed.icon %}<i class="material-icons">feed</i>{% endif %}
          </div>
          <span>{{ feed.name }}</span>
          {% if feed.status == 'hidden' %}
            <span style="font-size: small;">(Hidden)</span>
          {% endif %}
        </h3>
        <p style="word-break: break-word;"><a href="{{ feed.url }}{{ queryString }}" target="_blank" class="link-iconed">
          <i class="material-icons">open_in_new</i>
          {{ feed.url }}
        </a></p>
        {% if feed.description %}
          <p>
            {% for line in feed.description.split('\n') %}
              {{ line }}<br />
            {% endfor %}
          </p>
        {% endif %}
        <details>
          <summary>Feed Info</summary>
          {% if feed.lastStatus %} {# or feed.lastModified #}
            <pre style="white-space: normal;">{{ feed.lastStatus }}</pre> {# or ('Feed last updated at ' + feed.lastModified) #}
          {% endif %}
          <pre style="overflow: auto; padding: 8px;">{{ feedIni }}</pre>
        </details>
      </div>
      <div class="mdl-layout-spacer" style="word-break: break-word;"></div>
      <div style="padding: /* 0 8px */ 24px 0;">
        <button id="copy-link" class="mdl-button mdl-js-button mdl-button--icon" onclick="copyToClipboard(location.href);">
          <i class="material-icons">link</i>
        </button>
        <span for="copy-link" class="mdl-tooltip">Copy Link</span>
      </div>
    </div>
  {% endif %}

  <div class="top-actions">
    <div style="flex: 1;">
      {# abc #}
    </div>
    <div class="layout-toggle">
      <label id="grid-view-label" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="grid-view" tabindex="-1">
        <input type="radio" id="grid-view" class="mdl-icon-toggle__input" name="layout-toggle" {% if prefs.DefaultView == 'grid' %} checked {% endif %} />
        <i class="mdl-icon-toggle__label material-icons">view_module</i>
      </label>
      <span for="grid-view-label" class="mdl-tooltip">Grid View</span>
      <label id="list-view-label" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="list-view" tabindex="-1">
        <input type="radio" id="list-view" class="mdl-icon-toggle__input" name="layout-toggle" {% if prefs.DefaultView == 'list' %} checked {% endif %} />
        <i class="mdl-icon-toggle__label material-icons">view_list</i>
      </label>
      <span for="list-view-label" class="mdl-tooltip">List View</span>
      <label id="flow-view-label" class="mdl-icon-toggle mdl-js-icon-toggle mdl-js-ripple-effect" for="flow-view" tabindex="-1">
        <input type="radio" id="flow-view" class="mdl-icon-toggle__input" name="layout-toggle" {% if prefs.DefaultView == 'flow' %} checked {% endif %} />
        <i class="mdl-icon-toggle__label material-icons">view_stream</i>
      </label>
      <span for="flow-view-label" class="mdl-tooltip">Flow View</span>
    </div>
  </div>
  
  <div id="grid-layout" class="mdl-grid">
    {% for entry in entries %}
      <a rel="noopener"
        {% if prefs.ReaderMode %}
          href="{{ urlFor('/entry/:entry', { entry: slugifyUrl(entry.link) }) }}{{ queryString }}"
        {% else %}
          href="{{ entry.link }}" target="_blank"
        {% endif %}
      class="mdl-card mdl-shadow--2dp rss-card mdl-cell">
        <div class="rss-card-image">
          {% include 'parts/entry-media.njk' %}
        </div>
        <div class="rss-card-content">
          <div class="rss-card-title">{{ entry.title }}</div>
          <div class="rss-card-preview">{{ entry.summary }}</div>
        </div>
        <div class="rss-card-meta">
          {% include 'parts/feed-item-bottom.njk' %}
        </div>
      </a>
    {% endfor %}
  </div>
  
  <div id="list-layout" class="rss-list">
    {% for entry in entries %}
      <a rel="noopener"
        {% if prefs.ReaderMode %}
          href="{{ urlFor('/entry/:entry', { entry: slugifyUrl(entry.link) }) }}{{ queryString }}"
        {% else %}
          href="{{ entry.link }}" target="_blank"
        {% endif %}
      class="rss-list-item">
        <div class="rss-list-image">
          {% if entry.video %}
            <video src="{{ entry.video }}" controls></video>
          {% elif entry.image %}
            <img src="{{ entry.image }}" loading="lazy" />
          {% endif %}
        </div>
        <div class="rss-list-content">
          <div class="rss-list-title">{{ entry.title or ('&nbsp;' | safe) }}</div>
          <div class="rss-list-preview">{{ entry.summary or ('&nbsp;' | safe) }}</div>
          <div class="rss-list-meta">
            {% include 'parts/feed-item-bottom.njk' %}
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div id="flow-layout" class="mdl-grid">
    {% for entry in entries %}
      <a rel="noopener"
        {% if prefs.ReaderMode %}
          href="{{ urlFor('/entry/:entry', { entry: slugifyUrl(entry.link) }) }}{{ queryString }}"
        {% else %}
          href="{{ entry.link }}" target="_blank"
        {% endif %}
      class="mdl-card mdl-shadow--2dp rss-card mdl-cell mdl-cell--8-col">
        <div class="rss-card-image">
          {% include 'parts/entry-media.njk' %}
        </div>
        {% if entry.title or entry.summary %}
          <div class="rss-card-content">
            <div class="rss-card-title">{{ entry.title }}</div>
            <div class="rss-card-preview">{{ entry.summary }}</div>
          </div>
        {% endif %}
        <div class="rss-card-meta">
          {% include 'parts/feed-item-bottom.njk' %}
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="mdl-grid">
    <nav class="demo-nav {# mdl-color-text--grey-600 mdl-color-text--grey-50 #} mdl-cell mdl-cell--12-col">
      {% if page > 1 %}
        <a href="?page={{ page - 1 }}{{ queryPagers }}{{ queryParams }}" class="demo-nav__button">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons">arrow_back</i>
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
          Newer
        </a>
      {% endif %}
      <div class="section-spacer"></div>
      {% if next %}
        <a href="?page={{ next }}{{ queryPagers }}{{ queryParams }}" class="demo-nav__button">
          Older
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons">arrow_forward</i>
          <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></button>
        </a>
      {% endif %}
    </nav>
  </div>

  <script>
    const viewLayouts = {};
    const viewButtons = {};

    for (const layout of ['grid', 'list', 'flow']) {
      viewLayouts[layout] = document.getElementById(layout + '-layout');
      viewButtons[layout] = document.getElementById(layout + '-view');
      viewButtons[layout].addEventListener('click', function(){ setViewLayout(layout) });
    }

    function setViewLayout(target) {
      for (const layout in viewLayouts) {
        if (layout !== target) {
          document.body.classList.remove(layout + '-layout');
          viewButtons[layout].checked = false;
          viewButtons[layout].parentElement.classList.remove('is-checked');
        }
      }
      viewButtons[target].checked = true;
      document.body.classList.add(target + '-layout');
      localStorage.setItem('defaultView', target);
    }
    
    const defaultView = localStorage.getItem('defaultView', 'grid');
    if (defaultView) {
      setViewLayout(defaultView);
    }

    {% if hasSpecialFeatures %}
      async function debugRequest(action, data) {
        const response = await fetch('/debug', { method: "POST", body: JSON.stringify({ action, data }) });
        alert(`${response.status}: ${await response.text()}`);
      }
    {% endif %}
  </script>
{%- endblock -%}